# --- Shared ---
RESY_API_KEY=VbWk7s3L4KiK5fzlO7JD3Q5EYolJI7n5

# --- Monitor ---
MONITOR_PROXY_URLS=
SCAN_START_SECONDS_BEFORE=15
SCAN_INTERVAL_MS=3500
SCAN_TIMEOUT_SECONDS=120
USE_PROXIES=false
WS_HOST=0.0.0.0
WS_PORT=8765

# --- Booking ---
BOOKING_PROXY_URLS=
DISCORD_WEBHOOK_URL=
DRY_RUN=false
MONITOR_WS_URL=ws://localhost:8765

# JSON array of users
BOOKING_USERS=[{"id":"rchung29","resy_auth_token":"YOUR_TOKEN","resy_payment_method_id":33763382}]
